@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.flex_center{
    @apply flex justify-center items-center
}

.no_drag{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

.dvh {
    height: 100dvh;
}

.space {
    justify-content: space-between;
}

.alert {
    transition: all 2s;
}

.alert_show {
    opacity: 1; /* 투명도를 1로 설정하여 나타냄 */
  }
  
  .alert_hide {
    opacity: 0; /* 투명도를 0으로 설정하여 숨김 */
    display: none; 
  }