@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.flex_center{
    @apply flex justify-center items-center
}

.no_drag{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

.dvh {
    height: 100dvh;
}

.space {
    justify-content: space-between;
}